{
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "eslint-config-prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "no-console": 1,
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "linebreak-style": 0,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "max-len": ["error", {"code": 100, "ignoreUrls": true}],
    "no-mixed-operators": "error",
    "prettier/prettier": "error",
    "prefer-arrow-callback": "error",
    "no-var": "error",
    "import/no-cycle": 0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}
